[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyquery = "*"
"beautifulsoup4" = "*"
pymongo = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.6"
